*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}
#header{
    background-color: #333333c2;
    color: white;
    height: 82px;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bold;
}
#navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.hometab{
    display: flex;
    gap: 30px;
    transition: 0.33;
}
.hometab :hover{
    border-bottom: solid 2px #f08a41;
}
.logo{
    display: flex;
    width: 120px;
}
.button{
    background-color: #f08a41;
    color: white;
    border: none;
    padding:10px 30px;
    font-weight: bold;
}
.topbody{
    height: 480px;
    max-width: 98vw;
    color: white;
    display: flex;
    position: relative;
    
}
.video{
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
}
.vidtext{
    height: 140px;
    width: 200px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
}
.lowerbody{
    height: 82px;
    width: 100vw;
    background-color:  #333333c2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.span{
    color: #f08a41;
}
.textbodyd{
    background-color: beige;
    height: 50%;
    width: auto;
}