*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
}
#header{
    background-color: rgb(2, 2, 61);
    color: white;
    height: 82px;
    width: 100vw;
    font-family: sans-serif;
    font-weight: bold;
}
#navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.hometab{
    display: flex;
    gap: 30px;
    transition: 0.33;
}
.hometab :hover{
    border-bottom: solid 2px #f08a41;
}
.logo{
    display: flex;
    width: 120px;
}
.button{
    background-color: #f08a41;
    color: white;
    border: none;
    padding:10px 30px;
    font-weight: bold;
}
.topbody{
    height: 480px;
    max-width: 98vw;
    color: white;
    display: flex;
    position: relative;
    
}
.video{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
}
.vidtext{
    height: 140px;
    width: 200px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
}
.lowerbody{
    height: 82px;
    width: 100vw;
    background-color: rgb(4, 4, 27);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.span{
    color: #f08a41;
}
.textbody{
    background-color: aliceblue;
    height: 500px;
    width: 100vw;
}
.text{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: lighter;
    text-align: center;
}
.text1{
    text-align: center;
    width: 600px;
    margin: auto;
}
.picbody{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.boat{
    background-image: url(img/3rd\ img.png);
    margin: auto;
    width: 700px;
    height: 250px;
    background-size: contain;
}
.boattext{
    width: 400px;
    text-align: center;
    margin: auto;
}
.boattext p{
   margin-top: 10px;
   margin-bottom: 10px;
}
.button1{
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    border: none;
    padding:10px 30px;
    font-weight: bold;
}
.underline{
    border-bottom: 1px solid black;
    width: 90vw;
    margin: auto;
}
.picbody2{
    margin-top: 30px;
    text-align: center;
}
.newsbody{
    width: 100vw;
    height: 500px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    padding: 15px;
}
.news{
    padding: 15px;
}
.news img{
    height: 250px;
    width: 400px;
}
.news p{
    width: 350px;
    text-align: start;
}
.button2{
    background-color: #f08a41;
    color: white;
    border: none;
    font-weight: bold;
}
.bek{
    font-weight: bold;
}
.text4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    background-color: rgb(243, 241, 238);
}
.otherbody{
    height: 550px;
    width: 100vw;
    background-color: rgb(243, 241, 238);
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.othertext{
    text-align: end;
    width: 250px;
}
.otherpic{
    background-image: url(img/11th.png);
    width: 180px;
    height: 450px;
    background-size: contain;
}
.other1 h3{
    padding: 10px;
}
.other2{
    width: 250px;
    text-align: start;
}
.other2 h3{
    padding: 10px;
}
.question{
    margin-top: 30px;
    height: 100px;
    width: 100vw;
    text-align: center;
}
.question a{
    color: rgba(0, 0, 0, 0.527);
}
.downpart{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.the{
    height: 50px;
    width: 150px;
}
